h1, p {
  font-family: "Lato", sans-serif;

}

.hotdog {
  background-color: red;
  margin: 10px 693px 20px 0;
}

img:hover {

background-color: gold;
}

img:active {
  color: red;
}

h1:hover {
color: gold;


}

h1:active {
  color: red;

}

.link {
  color: black;
  text-decoration: none;
}
