#page-wrap {
     width: 800px;
     margin: 50px auto;
}

.header{
text-align: center;

}
body {
  background-image:url("../images/pinkdog3");
}

.post4 {
  background-image: url("../images/chicken.jpg");
  background-size: cover;
}

.position
{
  margin: 300px auto;
}

a:hover {
  background-color: hotpink;
}

hov:hover {
  background-color: hotpink;
}
