body {
  margin: 0px;
}

h1 {
  font-family: "Lato", sans-serif;
  margin-top: 0px;
  padding-top: 20px;
  padding-left: 20px;

}

p {
  font-family: "Lato", sans-serif;
  padding-left: 20px;
  padding-bottom: 10px;
}
.top-container {
background-color: #f6f6f6;
border: solid 10px;
width: 12em;
height: 12em;
padding: 1em;

}

.middle-container {
  background-color: #ffac8e;
  height: 12em;
  width: 12em;
  margin-left: 15.2em;
  border: solid 20px black;
}

.bottom-container {
  background-color: #55ae95;
  border: solid 10px;
  border-color: black;
  height: 12em;
  width: 12em;
  margin-left: 29.7em;

}

.font {
  margin-left: 42em;
}

.link {
  text-decoration: none;
  color: black;
}



a:hover {

  color: #fd7792;
}
div {
  width: 10em;
  height: 16em;
  background: ;
  -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
  transition: width 2s;

}

div:hover {
  width: 30em;
}

.middle-container:hover {
  background-color: #fd7792;
  text-decoration: none;
  border-color: black;
}
